[Desktop Entry]
Name=pyConnection Manager
Name[it_IT]=pyConnection Manager
Comment=Tabbed terminal for ssh connection
Comment[it]=Terminale a tab per connessioni ssh
Icon=/usr/share/pixmaps/pycm/utilities-terminal.png
Terminal=false
Type=Application
StartupNotify=false
Exec=python /usr/bin/pycm
Categories=GNOME;GTK;Utility;TerminalEmulator
